body {
    background: skyblue;
    font-family: sans-serif;
}

#container {
    display: block;
    margin: auto;
    max-width: 900px;
    min-width: 450px;    
    background: salmon;
    border: solid 6px black;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}